* {
    font-family: monospace;
    transition: text-shadow 0.1s ease; /* Add transition for smooth effect */
}
body { 
    margin: 0; 
    overflow: hidden; 
}
canvas { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; }
.controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}
.mainControls .button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #00FF00; /* Neon green color */
    user-select: none; /* Disable user selection */
    /* transition: color 1s ease;  */
}

.mainControls .button:hover {
    text-shadow: 0 0 16px #00FF00; 
}
.datepicker {
    background: none;
    /* border: 1px solid #ccc; */
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    color: #00FF00;
    accent-color: #00FF00;
}
.datepicker::-webkit-calendar-picker-indicator {
    cursor: pointer;
    color-scheme: dark;
}

/* Adjusting hover and focus states for better usability */
.datepicker:hover,
.datepicker:focus {
    background: rgba(0, 255, 0, 0.1); /* Light green background on hover/focus */
    outline: none; /* Remove default focus outline */
}
.datepicker .date-cell:hover {
    background-color: #F0F0F0; /* Hover color for date cells */
}
.mainControls{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: rgba(0, 255, 0, 0.1); /* Light green background */
    padding: 10px;
    border-radius: 1000px;
}

#resetButton {
    display: block;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #FF0000; /* Neon green color */
    /* pointer-events: none; Disable pointer events */
    user-select: none; /* Disable user selection */
    font-weight: bolder;
}
#resetButton:hover {
    text-shadow: 0 0 16px #FF0000; 
}

#resetButton:disabled {
    opacity: 0.5; /* Reduce opacity when disabled */
    cursor: not-allowed; /* Change cursor to not-allowed when disabled */
    color: #CCCCCC; /* Light gray color when disabled */
}

#resetButton:disabled:hover {
    text-shadow: none; /* Remove text shadow on hover when disabled */
    /* Additional styles if needed */
}

#githubButton {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color:#FFFFFF;
}
#githubButton:hover {
    text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f; /* Multiple shadows for emphasis */
}